body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #333;
  height: 100%;
}
header {
  display: flex;
  justify-content: center; 
  background: none; 
  
 
  padding: 20px 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.logo-img {
  max-width: 200px;
  height: auto;
}


#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#bgVideo::after {
  content: "";
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.3); 
}


.hero-text {
  margin-top: 100px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.222);
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.222);
}

.hero-text p {
  font-size: 1.3rem;
  margin-top: 10px;
}

.hero-text span {
  color: #1e90ff;
  font-weight: 700;
}


.login-container {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 60px;

}

.login-box {
  background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(10px); 
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 40px 20px;
  text-align: center;
  color: #fff; 
  width: 350px;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.222);
}

.login-box h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.222);
}

.login-box form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-box label {
  font-weight: 600;
  text-align: left;
  color: #e0f0ff; 
}

.login-box input {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #e0f0ff; 
  color: #1e3f7f; 
  font-size: 1rem;
  text-align: start;
}

.login-box button {
  margin: 15px auto 0 auto;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #0056b3; 
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  width: 190px;
}

.login-box button:hover {
  background: #1e90ff; 
  transform: translateY(-1px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.error-message {
  color: red;
  text-shadow: #ffffff;
  font-size: 0.9rem;
  margin-top: 2px;
  display: block; 
}


.language-switch {
  position: absolute;
  top: 20px;
  right: 20px; 
  font-size: 1rem;
}

.language-switch a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s;
  margin: 0 5px;
 
}

.language-switch a:hover {
  color: #1e90ff;
}

.lang-link.active {
  font-weight: 700;
  color: #0056b3; 
   border-bottom: 1px solid #0056b3;
}


@media screen and (max-width: 768px) {
  body.no-scroll {
    overflow: hidden;
  }

  .login-box {
    width: 80%; 
    max-width: 350px; 
    padding: 30px 15px;
    margin: 0 auto; 
  }

   .hero-text h1 {
    font-size: 1.6rem; 
  }

  .hero-text p {
    font-size: 0.9rem; 
  }

  .language-switch {
    top: 35px;       
    right: 20px;      
    font-size: 0.8rem;
  }
  .logo-img {
    max-width: 120px;   
    height: auto;
    margin-left: 15px;  
  }

  header {
    padding: 10px 15px; 
  }

  .language-switch {
    top: 20px;          
    right: 15px;        
    font-size: 0.8rem;
  }
  .logo img {
    height: 50px;  
}
}
